/.venv/
/src/arsbot.egg-info/
__pycache__/
mw_session.data
mw_api_session.data
phpbb_session.data
*.sql
.env
arsbot.log
ip_addresses.bin
.pytest_cache
.coverage
*.swp
*.bak
.python-version
arsbot.service
*.sublime-*
.ruff_cache
dist/
.mypy_cache/
